footer {
    background-color: #a1a1a1;
    color: #2e2e2e;
    padding: 40px 0;
  }
  footer a {
    color: #2e2e2e;
    text-decoration: none;
  }
  footer a:hover {
    color: #474747;
    text-decoration: underline;
  }
  .social-icons a {
    font-size: 1.5rem;
    margin-right: 15px;
    color: #2e2e2e;
    transition: color 0.3s;
  }
  .social-icons a:hover {
    color: #2e2e2e;
  }

  .img-footer{
    width: 120px;
  }